* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Cambria;
	font-size: 1em;
	font-weight: 800;
	line-height: 1.5;
	color:black;
	background-color: whitesmoke;
}

header {
	text-align: center;
	padding: 20px 0;
	color: red;
	background-color: orange;
}

.container {
	min-height: 75vh;
	display: flex;
}

aside {
	padding: 10px 20px;
}

.menu {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	position: sticky;
	top: 16px;
}

.vr {
	width: 2px;
	background-color: brown;
}

main {
	padding: 24px 48px;
	flex: 3;
}

form {
	max-width: 600px;
	display: flex;
	flex-direction:  column;
	row-gap: 26px;
}





.form-control {
	display: flex;
	flex-direction: column;
}

.form-control > label::after {
	content: " ***";
	color: #ff0000;
}

.form-control input {
	height: 40px;
	padding: 0 8px;
	font-size: inherit;
	font-family: inherit;
}

.form-submit {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-submit button {
	padding: 5px 16px;
	font-size: inherit;
	font-family: inherit;
}

footer {
	text-align: center;
	padding: 16px 0;
	color:yellowgreen;
	background-color: blue;
}
